.drawer-wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.drawer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0px;
    z-index: 1000;
    width: 500px;
    background-color: #fff;
}

// .ccc-enter {
//     // .drawer-wrapper {
//     //     width: 100%;
//     //     position: absolute;
//     //     top: 0;
//     //     bottom: 0;
//     //     overflow: hidden;
//     // }

//     .drawer {
//         // position: absolute;
//         // top: 0;
//         // bottom: 0;
//         // z-index: 1000;
//         // width: 500px;
//         // background-color: #fff;
//         right: -500px;
//     }
// }

// .ccc-enter-active {
//     .drawer {
//         // position: absolute;
//         // top: 0;
//         // bottom: 0;
//         right: 0px;
//         // z-index: 1000;
//         // width: 500px;
//         // background-color: #fff;
//         transition: right linear 0.25s;
//     }
// }
//  .ccc-enter-done {
//     .drawer {
//         right: 0px;
//     }
// }
// .ccc-enter-done {
//     .drawer {
//         // position: absolute;
//         // top: 0;
//         // bottom: 0;
//         // right: -500px;
//         // z-index: 1000;
//         // width: 500px;
//         // background-color: #fff;
//         right: 0px;
//     }
// }
// .ccc-exit-active {
//     .drawer {
//         // right: -500px;
//         transition: right 0.25s;
//     }
// }

// .ccc-exit-done {
//     .drawer-wrapper {
//         width: 0;
//     }
//     .drawer {
//         right: -500px;
//     }
// }
