.flexBox {
    display: flex;
    // flex-direction: column;
    // gap: 10px 20px
}

.mg-small {
    gap: 5px;
}
.mg-medium {
    gap: 10px;
}
.mg-large {
    gap: 15px;
}

.wrap {
    flex-wrap: wrap;
}
