

.flexBox{
    display: flex;
}

.mg-small{
    margin-right: 5px;
}
.mg-medium{
    margin-right: 10px;
}
.mg-large{
    margin-right: 15px;
}
.vert-mg-small{
    margin-bottom: 5px;
}
.vert-mg-medium{
    margin-bottom: 10px;
}
.vert-mg-large{
    margin-bottom: 15px;
}